---
type Props = {
  features: string[];
};
const {features}: Props = Astro.props
---
    <ul class="flex list-disc flex-col gap-3 pl-3 text-lg font-bold text-yellow-600">
      {features.map((feature) => (
        <li>{feature}</li>
      ))}
    </ul>