---
import { Button } from '../ui';

type Props = {
  github: string;
  live: string;
};
const {github, live}: Props = Astro.props
---

    <ul class="flex justify-start gap-6 ">
      {github && (
        <li>
          <Button variant="primary" size="medium" asChild>
            <a href={github} target="_blank" rel="noopener noreferrer">
              Github
            </a>
          </Button>
        </li>
      )}
      {live && (
        <li>
          <Button variant="secondary" size="medium" asChild>
            <a href={live} target="_blank" rel="noopener noreferrer">
              Live
            </a>
          </Button>
        </li>
      )}
    </ul>
