---
import Layout from '@/layouts/Layout.astro';

const {pathname} = Astro.url
const title = "Page not found"
const description = "Page not found"
---
<Layout {title} {description}>
    <div class="flex h-screen w-screen flex-col items-center justify-center gap-6 bg-stone-900 text-stone-200">
        <h1 class="text-5xl">Invalid path: <span class="text-yellow-600">{pathname}</span></h1>
        <a class="rounded-md border border-transparent bg-stone-200 px-6 py-2 font-semibold text-stone-900 transition duration-300 ease-in-out hover:border-stone-200 hover:bg-transparent hover:text-stone-200" href="/">Accueil</a>
    </div>
</Layout>