---
import { Hero, Navbar, Pokeref } from '@/components';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Thibaud Brault">
	<main class="bg-stone-900 text-stone-200 min-h-screen border-8 border-stone-200 pb-8">
		<Navbar />
		<Hero />
		<section id="projects">
			<Pokeref client:visible />
		</section>
	</main>
</Layout>