---
import { Bio, Experiences, Hero, Navbar, Pokeref, Separator } from '@/components';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Thibaud Brault">
	<main class="pb-8 max-w-7xl mx-auto">
		<Navbar />
		<Hero />
		<Separator className='bg-stone-200 w-2/3 mx-auto mb-24' />
		<Experiences />
		<Separator className='bg-stone-200 w-2/3 mx-auto mb-24' />
		<section id="projects">
			<Pokeref client:visible />
		</section>
		<Separator className='bg-stone-200 w-2/3 mx-auto mb-24' />
		<Bio />
	</main>
</Layout>