---
import Navbar from '@/components/navbar/Navbar.astro';
import Hero from '@/components/hero/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Footer from '@/components/footer/Footer.astro';
import { Separator, Experiences, Pokeref, Portfolio, Bio } from '@/components';
---

<Layout title="Thibaud Brault">
	<main class="mx-auto max-w-7xl">
		<Navbar />
		<Hero />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<Experiences client:visible />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<section id="projects">
			<Pokeref client:visible />
			<Portfolio client:visible />
		</section>
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<Bio client:visible />
		<Footer />
	</main>
</Layout>