---
import { Bio, Separator } from '@/components';
import Navbar from '@/components/navbar/Navbar.astro';
import Hero from '@/components/hero/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Footer from '@/components/footer/Footer.astro';
import Pokeref from '@/components/pokeref/Pokeref.astro';
import Experiences from '@/components/experiences/Experiences.astro';
import Portfolio from '@/components/portfolio/Portfolio.astro';
---

<Layout title="Thibaud Brault">
	<main class="mx-auto max-w-7xl">
		<Navbar />
		<Hero />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<Experiences />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<section id="projects">
			<Pokeref />
			<!-- <Portfolio client:visible /> -->
		</section>
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<!-- <Bio /> -->
		<Footer />
	</main>
</Layout>