---
import { Bio, Experiences, Hero, Navbar, Pokeref, Portfolio, Separator, Footer } from '@/components';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Thibaud Brault">
	<main class="mx-auto max-w-7xl">
		<Navbar />
		<Hero />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<Experiences />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<section id="projects">
			<Pokeref client:visible />
			<Portfolio client:visible />
		</section>
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<Bio />
		<Footer />
	</main>
</Layout>