---
import { Button } from '@/components/ui';

  const logo = `{TB}`;

  const nav = [
      {
        text: `Experiences`,
        link: `#experiences`,
      },
      {
        text: `Projets`,
        link: `#projects`,
      },
      {
        text: `Bio`,
        link: `#bio`,
      },
    ]
---

    <nav class="absolute inset-x-4 md:inset-x-12 top-8 mx-auto flex items-center justify-between">
      <a class="font-atkinson text-5xl" href="/">
        {logo}
      </a>
      <ul class="flex gap-12">
        {nav.map((element) => (
          <li class="hidden md:block">
            <a class="text-xl border border-transparent transition duration-300 ease-in-out hover:border-b-yellow-600 hover:text-yellow-600" href={element.link}>{element.text}</a>
            </li>
            ))}
        <li>
          <a class="text-xl border border-transparent transition duration-300 ease-in-out hover:border-b-yellow-600 hover:text-yellow-600" href="/blog/">
            Blog
          </a>
        </li>
      </ul>
    </nav>
