---
import { useMemo } from 'react';

import { Button } from '@/components/ui';
import { CenturionHelmetIcon } from '@/lib';

  const logo = `{TB}`;

  const nav = [
      {
        text: `Experiences`,
        link: `#experiences`,
      },
      {
        text: `Projets`,
        link: `#projects`,
      },
      {
        text: `Bio`,
        link: `#bio`,
      },
    ]
---

    <nav class="absolute inset-x-12 top-8 mx-auto flex items-center justify-between">
      <p class="flex gap-3 font-raleway text-5xl">
        {logo}
        {` `}
        <span>
          <CenturionHelmetIcon />
        </span>
      </p>
      <ul class="flex gap-12">
        {nav.map((element) => (
          <li>
            <Button variant="link" size="nav" asChild>
              <a href={element.link}>{element.text}</a>
            </Button>
          </li>
        ))}
      </ul>
    </nav>
