<section id="experiences" class="min-h-screen px-2 flex flex-col items-start justify-center gap-4">
    <h2 class="text-4xl font-bold text-yellow-700">Experiences</h2>
    <ul class="grid grid-cols-2 gap-4">
        <li>
            <h3 class="text-yellow-700 font-bold">Zenika</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A autem obcaecati dolores unde in, dolor voluptates eaque. Nisi praesentium, voluptatibus repellat facere maxime omnis soluta doloribus quas a, dolores rerum?</p>
        </li>
    </ul>
</section>