--- 
import { Github, Protonmail, Linkedin } from 'simple-icons-astro'
---

<section id="home" class="h-screen flex items-center justify-center flex-col gap-12">
    <div class="flex items-center justify-center flex-col gap-2">
        <h1 class="text-7xl font-extrabold">Hi, I'm <span class="text-yellow-700">Thibaud</span></h1>
        <p class="text-lg">Frontend developer based in Nantes</p>
    </div>
    <div class="flex items-center justify-center gap-10">
        <a href="https://github.com/thibaudbrault" class="bg-green-700 p-4 rounded-full border border-transparent hover:bg-green-600 hover:border-stone-200 transition-colors duration-300 ease-in-out">
            <Github class="size-10" />
        </a>
        <a href="https://www.linkedin.com/in/thibaud-brault/" class="bg-blue-700 p-4 rounded-full border border-transparent hover:bg-blue-600 hover:border-stone-200 transition-colors duration-300 ease-in-out">
            <Linkedin class="size-10" />
        </a>
        <a href="mailto:example@mail.com" class="bg-purple-700 p-4 rounded-full border border-transparent hover:bg-purple-600 hover:border-stone-200 transition-colors duration-300 ease-in-out">
            <Protonmail class="size-10" />
        </a>
    </div>
</section>
