---
const links = ["home", "projects", "experiences", "contact"]
---

<nav class="min-h-screen px-2 min-w-[210px]">
    <div class="sticky top-56 flex flex-col items-end gap-4 justify-center text-xl font-bold">
        {links.map(link => (
            <a href={`#${link}`} data-section={link} class="nav px-2 py-1 hover:bg-stone-400/20 text-right rounded-md w-full capitalize">{link}</a>
        ))}
    </div>
</nav>

<style>
    .active {
        @apply bg-yellow-200 text-stone-900;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const links = document.querySelectorAll('.nav');
        const sections = document.querySelectorAll('section');

        function setActiveLink() {
            let index = sections.length;

            while (--index && window.scrollY + 100 < sections[index].offsetTop) {}

            links.forEach((link) => link.classList.remove('active'));
            links[index].classList.add('active');
        }

        setActiveLink();
        window.addEventListener('scroll', setActiveLink);
    });

</script>