<nav class="min-h-screen px-2 min-w-[210px]">
    <div class="sticky top-56 flex flex-col items-end gap-4 justify-center text-xl font-bold">
        <a href="#home" data-section="home" class="nav px-2 py-1">Home</a>
        <a href="#projects" data-section="projects" class="nav px-2 py-1">Projects</a>
        <a href="#experiences" data-section="experiences" class="nav px-2 py-1">Experiences</a>
        <a href="#contact" data-section="contact" class="nav px-2 py-1">Contact</a>
    </div>
</nav>

<style>
    .active {
        @apply bg-yellow-200 text-stone-900 rounded-md w-full text-right;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const links = document.querySelectorAll('.nav');
        const sections = document.querySelectorAll('section');

        function setActiveLink() {
            let index = sections.length;

            while (--index && window.scrollY + 100 < sections[index].offsetTop) {}

            links.forEach((link) => link.classList.remove('active'));
            links[index].classList.add('active');
        }

        setActiveLink();
        window.addEventListener('scroll', setActiveLink);
    });

</script>