--- 
import '@/styles/base.css';

import Footer from '@/components/footer/Footer.astro';
import Navbar from '@/components/navbar/Navbar.astro';
import LanguagePicker from '@/components/languagePicker/LanguagePicker.astro'

import Head from './Head.astro';

interface Props {
  title: string;
  description: string;
  lang: string;
}

const { title, description, lang }: Props = Astro.props;
---

<html lang={lang} class="scroll-smooth">
	<Head {title} {description} />
	<body class="min-h-screen border-8 border-stone-200 bg-stone-900 text-stone-200">
		<main>
			<Navbar />
			<LanguagePicker {lang} />
			<slot />
			<Footer />
		</main>
	</body>
</html>

<script defer data-domain="thibaudbrault.dev" src="http://plausible-to4csss.75.119.132.138.sslip.io:8000/js/script.js"></script>

<style>
	body {
	  background-image: radial-gradient(#404040 1px, transparent 0);
	  background-size: 60px 60px;
	  background-position: -19px -19px;
	}
</style>