--- 
import '@/styles/base.css';


import Head from './Head.astro';
import Sidebar from '@/components/Sidebar.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;
---

<html lang="en" class="scroll-smooth">
	<Head {title} {description} />
	<body class="min-h-screen bg-stone-900 text-stone-200">
		<div class="grid grid-cols-[1fr_minmax(700px,870px)] mx-auto w-fit gap-12">
			<Sidebar />
			<slot />
		</div>
	</body>
</html>

<style>
	body {
	  background-image: radial-gradient(#404040 1px, transparent 0);
	  background-size: 60px 60px;
	  background-position: -19px -19px;
	}
</style>